<div class="container">
    <div class="details">
      <app-title title="ავტორიზაცია"></app-title>
  
      <form [formGroup]="loginForm" (ngSubmit)="submit()">


      <div class="input-container">
        <label>Email</label>
        <div>
          <input type="email" placeholder="Email" formControlName="email"/>
        </div>
        <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
          <div *ngIf="fc.email.errors.required">შეავსეთ ცარიელი ველი</div>
          <div *ngIf="fc.email.errors.email">იმეილი არასწორია</div>
        </div>
      </div>
  
      <div class="input-container">
        <label>Password</label>
        <div>
          <input type="password" placeholder="Password"
          formControlName="password"/>
        </div>
        <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
          <div *ngIf="fc.password.errors.required">შეავსეთ ცარიელი ველი</div>
        </div>
      </div>
  
      <div class="button">
        <button type="submit">ავტორიზაცია</button>
      </div>
      </form>
    </div>
  </div>